<h1>Student Index</h1>
<%= form_tag(students_path, method: 'get') do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search Students' %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<% if @students.blank? %>
  <h4>There are no students containing the term <%= params[:search] %>.</h4>
<% else %>
  <% @students.each do |student| %>
    <%= render partial: 'student', locals: { student: student } %>
  <% end %>
<% end %>
