<h1>
  <%= @post.title %>
</h1>
<h4>
  <%= @post.content %>
</h4>
<h3>COMMENTS</h3>



<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.user.nil? ? "Anonymous" : comment.user.username %> says: <%= comment.content %>
    </li>
  <% end %>
</ul>
<h3>CATEGORIES</h3>
<% @post.categories.each do |category| %>
  <li>
    <%= category.name %>
  </li>
<% end %>
<h3>USERS</h3>
<% @post.users.uniq.each do |user| %>
  <li>
    <%= link_to user.username, user_path(user) %>
  </li>
<% end %>

<%= form_for(@post.comments.build) do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.label :user %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>
  <%= f.fields_for :user, @post.comments.last.build_user do |user| %>
      <%= user.text_field :username %>
  <% end %>

  <%= f.hidden_field :post_id %>
  <%= f.submit %>
<% end %>
