<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %>
  <%= f.fields_for :ingredients do |ingredient| %>
  <div>
    <strong>Ingredient:</strong> <br>
    <%= ingredient.text_field :name %> <br>
    <%= ingredient.text_field :quantity %> <br>
  </div>
  <% end %>
  <%= f.submit %>
<% end %>
